<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Recap</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <div class="container">
        <img src="/static/images/logolr.png" alt="logo" />
        <h2>Generated Recap:</h2>
        <pre id="recapText">{{ recap }}</pre>
        <button onclick="copyToClipboard()">Copy to Clipboard</button>
        <button onclick="selectAllText()">Select Recap</button>
    </div>
</body>
</html>
